.login-container {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 400px;
  height: 382px;

  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);

  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(139, 128, 249, 0.6);

  border-radius: 10px;
  transition: 0.4s ease-out;
  overflow: hidden;

  h2 {
    margin: 40px 40px 30px;
    padding: 0;

    color: #fff;
    text-align: center;
  }

  div {
    position: relative;

    input {
      width: 100%;

      padding: 10px 0;

      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;

      &:valid ~ label,
      &:focus ~ label {
        top: -20px;
        left: 0;
        color: #8b80f9;
        font-size: 12px;
      }
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.3s;
    }
  }

  form {
    margin: 0 40px;

    div {
      display: flex;
      justify-content: space-between;

      a {
        position: relative;
        display: inline-block;
        padding: 10px 30px;
        color: #8b80f9;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 40px;
        letter-spacing: 4px;
        cursor: pointer;
  
        &:hover {
          background: #8b80f9;
          color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 5px #8b80f9, 0 0 10px #8b80f9, 0 0 20px #8b80f9,
            0 0 25px #8b80f9;
        }
  
        span {
          position: absolute;
          display: block;
  
          &:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #8b80f9);
            animation: buttonEffect1 1s linear infinite;
          }
  
          &:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #8b80f9);
            animation: buttonEffect2 1s linear infinite;
            animation-delay: 0.25s;
          }
  
          &:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #8b80f9);
            animation: buttonEffect3 1s linear infinite;
            animation-delay: 0.5s;
          }
  
          &:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #8b80f9);
            animation: buttonEffect4 1s linear infinite;
            animation-delay: 0.75s;
          }
        }
      }
    }
  }
}

.modal-container {
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .modal {
    font-size: 16px;

    margin-top: 30px;
    padding: 16px 22px;
    border-radius: 12px;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);

    white-space: pre-line;
  }
}

.login-container form .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 circle {
  fill: none;
  stroke: #8b80f9;
  stroke-width: 4;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }

@keyframes buttonEffect1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes buttonEffect2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes buttonEffect3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes buttonEffect4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}